<section class="section1 text-center">
  <div class="container">
    <div class="row">
      <h1>Ristorante Il Gambero Rosso</h1>
      <img class="m-auto" src="/assets/images/shrimp.png" />
    </div>
  </div>
</section>
<section>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/caru1.jpg" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/caru2.jpg" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/caru3.jpg" class="d-block w-100" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="section3 text-center py-5">
  <div class="container">
    <h2 class="pb-3">PHILOSOPHY</h2>
    <p>
      Our philosophy translates into a rediscovery of values ​​and flavors of
      the past. The roots represent our origins, our history, the foundations
      that have made us what we are today. Local traditions and the most
      innovative techniques coexist in our kitchen, there are no rules, there
      are no limits.
    </p>
    <p>
      Gambero is housed in a 1900 villa in the heart of Padua, home to the
      ancient and prestigious Ganzetti furrier's shop. In the dining room,
      comfortable fabric armchairs as if to recall the idea of ​​a living room
      at home, because this is how we want our guests to feel, protected by a
      welcoming, elegant but free from formality environment.
    </p>
  </div>
</section>
<section>
  <div class="row chef text-white">
    <div class="col-md-1"></div>
    <div class="align-self-center col-md-5">
      <h2>THE CHEF VALENTINETTI</h2>
      <p>
        <strong
          >The kitchen in the blood, from the very beginning, as steps of an
          already marked path…</strong
        >
      </p>
      <p>
        Born in Padua in 1985, Andrea immediately showed a predisposition for
        the kitchen. After an initial training at the Abano Terme hotel
        institute and a series of specialization courses in the gastronomic
        field, at the age of just 18 he left for the land of origin of his
        maternal grandparents, the island of Ponza, and experienced his first
        work experience in a starred restaurant, the Acqua Pazza restaurant of
        Gino Pesce. The period is short but the lessons learned are many and
        precious.
      </p>
      <p>
        In 2004 he returned to Padua and entered, in the following years, in
        various cuisines of the area. After gaining experience both as a cook
        and as a pastry chef, one of the most significant moments in his
        training came in 2006 when he became head of the Alajmo family's Le
        Calandre restaurant.
      </p>
      <p>
        A school that forms him as a chef and as a person. Subsequently, in
        2008, he moved to Milan at the high-level pastry shop PECK and then
        began a close collaboration with Denis Dianin at the DeG patisserie in
        Selvazzano Dentro (PD). In 2014 he won the Gambero Rosso award for best
        aperitif. At the helm of Radici, beyond prizes and awards, Andrea
        realizes his project, the one he had been building in his mind for
        years.
      </p>
    </div>
    <div class="col-md-5 chefpic">
      <img src="/assets/images/chef1.jpeg" />
    </div>
  </div>
</section>
