img {
  height: 15rem;
  width: 15rem;
}

.chef {
  background-color: black;
}

.chefpic {
  img {
    height: 100%;
    width: 100%;
  }
}

.carousel-inner {
  img {
    height: 30rem;
  }
}

.section1 {
  background-color: #ebebeb;
}

.section3 {
  background-color: #ebebeb;
}
