<section>
  <div class="hero">
    <div class="container text-center mainPage text-white">
      <h1>{{ text }}</h1>
      <h3>Delivering great food for more than 18 years</h3>
      <p>
        <a class="btn btn-dark btn-lg" href="{{ btnUrl }}" role="button">{{
          btnText
        }}</a>
      </p>
    </div>
  </div>
</section>
<section>
  <div class="row my-5">
    <div class="col-md-4 m-auto">
      <img class="img-fluid" src="/assets/images/about.jpg" />
    </div>
    <div class="col-md-4 restaurant text-center">
      Our philosophy translates into a rediscovery of values ​​and flavors of
      the past. The roots represent our origins, our history, the foundations
      that have made us what we are today. Local traditions and the most
      innovative techniques coexist in our kitchen, there are no rules, there
      are no limits. Gambero is housed in a 1900 villa in the heart of Padua,
      home to the ancient and prestigious Ganzetti furrier's shop. In the dining
      room, comfortable fabric armchairs as if to recall the idea of ​​a living
      room at home, because this is how we want our guests to feel, protected by
      a welcoming, elegant but free from formality environment.
    </div>
  </div>
</section>
<section class="section2">
  <h2 class="text-center py-5"><strong>Why choose us</strong></h2>
  <div class="row">
    <div class="col-md-4 text-center">
      <p class="px-5">
        Roots hidden in the earth and roots on the plate, interpreted according
        to the season to accompany guests on this journey of rediscovery of
        matter, between past and present. A universe of scents, tastes, noises,
        sensations experienced as children and which are revived today in the
        memory and on the plate, in a whirlwind of flavors that color a course,
        an instant, a situation.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>Roots is home, <br />Roots is refuge</h2>
    </div>
    <div class="col-md-4 text-center">
      <h4>Ristorante Il Gambero Rosso</h4>
      <p class="px-5">
        is a space that sheds conventions and welcomes you to make you the
        protagonist of a journey, a moment, an experience…
      </p>
    </div>
  </div>
</section>
<section>
  <h2 class="text-center my-5">CONTACTS</h2>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p>
          <strong>WHERE WE ARE:</strong><br />
          Via Andrea Costa 18/a – Padua
        </p>
        <p>
          <strong>CONTACTS</strong> <br />Telephone: (+39) 049 232 0525 Email:
          info@gamborirestaurant.it
        </p>
      </div>
      <div class="col-md-4">
        <strong>RESTAURANT HOURS</strong>
        <br />
        <p>Monday – Saturday: 12:30 – 14:30 | 19:30- 22:00 Sunday: Closed</p>
      </div>
    </div>
  </div>
</section>
