<div class="container my-5">
  <div class="row" *ngIf="food">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <strong>{{ food.name }}</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid" src="{{ food.image }}" />
              </div>
              <div class="col-md-4">
                {{ food.description }}
              </div>
              <div class="align-self-end col-md-4 text-end">
                <strong>Price: {{ food.price }} €</strong>
                <button class="btn btn-primary ms-3" (click)="addToCart()">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
